name: GitHub Readme YouTube Cards
on:
  schedule:
    # Runs every hour, on the hour
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    # Allow the job to commit to the repository
    permissions:
      contents: write
    # Run the GitHub Readme YouTube Cards action
    steps:
      - uses: DenverCoder1/github-readme-youtube-cards@main
        with:
          channel_id: UCz2KtkZvoTYOhHOpTr1Jg0g
          lang: en
          max_videos: 6
          card_width: 250
          border_radius: 5
          background_color: "#8c52ff"
          title_color: "#ffde59"
          stats_color: "#ffffff"
          theme_context_light: '{ "background_color": "#ffde59", "title_color": "#8c52ff", "stats_color": "#8c52ff" }'
          theme_context_dark: '{ "background_color": "#ffde59", "title_color": "#8c52ff", "stats_color": "#8c52ff" }'
          max_title_lines: 2
